.about {
    text-align: center;
    font-family: 'Sarabun', sans-serif;
}

.columns p {
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 1.3em;
    line-height: 1.5;
}

.columns {
    column-count: 3;
    column-rule: 1px solid rgb(165, 10, 10);
    column-gap: 50px;
    background-image: linear-gradient(rgb(255,255,255), rgb(229,223,225,0.5));
    padding: 20px;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: 'Crete Round', serif;
    color: rgb(34, 27, 27);
    font-size: 5em;
    letter-spacing: 30px;
    margin-bottom: 10px;
}

h1 a {
    color: rgb(71, 53, 53);
}

header {
    text-align: center;
}

#wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(165, 10, 10);
}

nav li {
    display: inline-block;
    padding-right: 37px;
    padding-left: 35px;
    padding-bottom: 10px;
}

.name {
    font-style: italic;
}

h2 {
    font-family: 'Sarabun', sans-serif;
    font-size: 2em;
    margin-bottom: 0;
    letter-spacing: 3px;
}

h2 a:hover {
    color: rgb(34, 27, 27);
}

p.location {
    margin-top: 2px;
    font-size: 1.2em;
    font-family: 'Lora', serif;
    font-style: italic;
}

nav {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.5em;
}

footer {
    text-align: center;
    font-family: 'Lora', serif;
}

p.details {
    font-family: 'Lora', serif;
    font-size: 1.1em;
}

header p {
    margin-top: 0;
    font-family: 'Lora', serif;
}

header img {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

section img {
    width: 100%;
    display: block;
}

img.button {
    background-color:rgb(165, 10, 10);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    float: right;
    margin-left: 50px;
}

div.button {
    position: -webkit-sticky;
    position: sticky;
    top: 95%;
}

hr {
    color:rgba(71, 53, 53, 0.404);
}

div.contact {
    background-image: url('images/bowls.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}

table {
    float: middle;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

td {
    padding-bottom: 20px;
}

td:nth-of-type(odd) {
    padding-left: 15px;
    color:rgb(165, 10, 10);
}

table a {
    color:rgb(34, 27, 27);
    font-family: 'Lora', serif;
    padding-left: 75px;
}

table a:hover {
    color:rgb(165, 10, 10);
}

nav a:hover {
    color:rgb(71, 53, 53);
}

nav li:nth-of-type(1) {
    border-right: 1px solid rgba(71, 53, 53, 0.308);
}

nav li:nth-of-type(2) {
    border-right: 1px solid rgba(71, 53, 53, 0.308);
}

nav li:nth-of-type(3) {
    border-right: 1px solid rgba(71, 53, 53, 0.308);
}

p.support1, p.support2 {
    font-size: 1.5em;
    font-family: 'Lora', serif;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
}

p.support1::first-letter {
    color:rgb(165, 10, 10);
    font-size: 200%;
    float: left;
    padding-right: 15px;
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;
}

p.details {
    font-size: 1.5em;
    line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
    h1 {font-size: 4em;}
}

@media only screen and (max-width: 768px) {
    h1 {font-size: 3em;}
    h1 a {width: 80%; letter-spacing: 20px;}
    nav li {display: block; padding-bottom: 7px; padding-top: 3px;}
    nav li:nth-of-type(1) {border-bottom: 1px solid rgba(71, 53, 53, 0.308); border-right: none;}
    nav li:nth-of-type(2) {border-bottom: 1px solid rgba(71, 53, 53, 0.308); border-right: none;}
    table {font-size: 1.3em;}
}